/* Font-Family import */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200..900;1,200..900&display=swap");
/* TailwindCSS and DaisyUI import */
@import "tailwindcss";
@plugin "daisyui" {
	root: "#root";
}

/* Custom TailwindCSS configuration */
@theme {
	--color-light: #f9fafb;
	--color-dark: #1a1a1a;
	--color-prime: #2e90ff;
	--font-work: "Work Sans", Helvetica, sans-serif;
	--container-8xl: 96rem;
	--container-9xl: 112rem;
}
